.circle-container {
    width: 10rem;
    height: 10rem;
    background-color: white;
    border: 2px solid black;
}

.row {
    display: flex;
}

.circle {
    background-color: rgb(255, 166, 166);
    border-radius: 50%;
    border: 2px solid red;
    height: 100%;
    
    &.selected {
        background-color: red;
    }
    &.previous-selected {
        content: 'previous';
        color: white;
        background-color: black;
    }
}